.line{
    height: 7px;
    width: 70px;
    margin: 15px auto;
    background-color: black;
}

img{
      margin-top: 20px;
}

body{
    text-align: center;
   background-color: lemonchiffon;
}

#myCarousel{
    background-color:cyan;
    position: fixed;
    margin-top: 20px;
    width: 100%;
    height:300;
}

h1{
   font-family: 'Crimson Text', serif;
}